# Ignore
**/.vscode/**
**/.vs/**
**/[Aa]rtifacts/**
**/[Bb]in/**
**/[Oo]bj/**
**/[Bb]uilds/**
**/[Ll]ibrary/**
**/[Tt]emp/**
**/[Ll]og/**
**/[Ll]ogs/**
**/StreamingAssets/StreamingAssetsContents*.*
**/StreamingAssets/Bundle/**
**/StreamingAssets/Bundles/**
**/StreamingAssets/BundleStreamingAssets/**
**/UnityPackageManager/**
**/[Tt]emp.meta
*.pidb
*.sln
*.userprefs
*.unityproj
*.suo
*.csproj
*.csproj.user
**/SystemCore*.*
Assets/SystemCore*.*
**Assets/SystemCore/**
**/Assets/LocalAssets_*.*


UnityPackageManager/**
Assets/BuildReports**
log-file.txt
log-file.txt.meta

# Allow
!**/StreamingAssets/configs/*.*
!**/StreamingAssets/SteamVR*
!**/StreamingAssets/SaveableScene/**
!**/StreamingAssets/*.meta
!*.dll

[safe]
    directory = *


Build/
UserSettings/Layouts/
